# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- To create markdown cells
- To create code cells
- To create ordered and unordered lists
- To create tables
- To upload the notebook into GitHub

## Author
Mafalda Santiago

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. Pandas

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335